*{
	box-sizing: border-box;
}
@font-face {
	font-family: 'ProximaNovaRegular';
	
	src: url('./ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'), url('./ProximaNovaRegular.woff') format('woff'), url('./ProximaNovaRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_58703">Text with this font applied</p> */
.fontsforweb_fontid_58703 {
	font-family: 'ProximaNovaRegular' !important;
}

.header{
	width: 100%;
	height: auto;
	box-shadow: 0 1px 4px #c0c0c0;
}
.header-section{
	padding: 0;
		
}
.anim{
	display: none;
}
.notify{
		font-size: 16px;
		border: 2px solid #df7813;
		padding: 2px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 20px;
		color: #333;
		cursor: pointer;
}
.notify:hover{
		background-color: #df7813;
		color: white;
}
.about{
		margin-top: 50px;
		width: 100%;
		height: auto;
		background-color: #111618;
		padding: 30px;
}
.text-head{
	color: #fff;
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 30px;
	font-family: 'roxima Nova Rg';
}
.text1{
		font-size: 16px;
		line-height: 28px;
		font-weight: 500;
		text-align: justify;
		color: #e1e1e1;
}
.newshd{
		margin-top: 30px;
		width: 100%;
		height: auto;
		padding-top: 50px;
		padding-right: 0px;
		padding-bottom: 50px;
		padding-left: 0px;
}
.section-news{
		width: 100%;
		height: auto;
}
.news-text{
		text-align: center;
		font-size: 28px;
		color: #070707;
		padding: 0px;
		font-weight: 800;
}
.news-text1{
		color: #bc2b37;
}
.news-text2{
		padding-bottom: 10px;
		border-bottom: 3px solid #bc2b37;
}
.mnu{
		margin-top: 0px;
}
.dcon1{
		color: #333!important;
		font-size: 15px;
		font-weight: 600;
		background-color: #053074;
		color: #fff!important;
		padding-left: 25px!important;
		padding-right: 25px!important;
		line-height: 1.42857143;
}
.dcon2{
		font-size: 15px;
		font-weight: 600;
		color: #000!important;
		background-color: #fff;
		padding-left: 25px!important;
		padding-right: 25px!important;
		line-height: 1.42857143;
}
.dcon2:hover{
		background-color: #bc2b37!important;
		color: #fff!important;
}
.dcon3{
		padding-left: 1px;
}
.sec-news1{
		width: 98%;
		height: 286px;
		padding: 0;
		margin-top: 5px;
}
.sec-news2{
		width: 98%;
		height:286px;
		background-color: #eee;
		padding-top: 90px;
		padding-right: 90px;
		padding-bottom: 0px;
		padding-left: 90px;
}
.eve-txt{
		font-size: 21px;
		font-weight: 600;
		text-align: left;
		color: #2a3370;
		border-bottom: 1px solid #2a3370;
		margin-bottom: 20px;
		padding-bottom: 15px;
}
.eve-txt1{
		color: #555;
		line-height: 28px;
		margin-bottom: 25px;
		font-size: 16px!important;
		font-weight: 400;
		text-align: justify;
}
.newstext{
		bottom: 10px;
		color: #fff;
		font-size: 26px;
		left: 30px;
		line-height: normal;
		margin: 0px;
		z-index: 1;
		position: absolute;
}
.newsimg{
		width: 100%;
		height: 100%;
		object-fit: cover;
}
.program{
		width: 100%;
		height: auto;
		padding-top: 50px;
		padding-right: 0px;
		padding-bottom: 50px;
		padding-left: 0px;
}
.program-event{
		width: 100%;
		height: auto;
		margin-top: 10px;
		
}
.tablinks{
		display: block;
		background-color: #f5f5f5!important;
		color: #000!important;
		cursor: pointer;
		width: 100%;
		height: 85px;
		border: none;
		text-align: center;
		outline: 0;
		font-size: 15px;
		font-weight: 600;
		line-height: 1.42857143;
		border: 1px solid #eee!important;	
		/*-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		transition: all .5s ease;*/
}
	
.tablinks.active{
		outline: 0;
		background-color: #2a3370!important;
		color: #fff!important;
}
.tabcontent{
		width: 100%;
		height: auto;
		float:left;
}
.gallery{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
}
.speech{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
}
.myslides{
		width: auto;
		height: auto;
		
}
.foot-header{
		font-weight: bold;
		font-size: 15px;
}
.foot-data{
		font-size: 14px;
		font-weight: normal;
		line-height: 1.5;
}
@media (min-width : 320px){
	.header{
		width: 100%;
		height: auto;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		color: #f1f1f1!important;
		/*color: red!important;*/
		font-size: 18px;
		font-weight: 450;
		padding-left: 10px;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 10px;
		padding-right: 0px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:46px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 10px;
		width: 100%;
		height: auto;
		font-weight: bold;
		padding-top: 10px;
		padding-left: 5px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 15px;
	}
	.section{
		width: 90%;
		height: auto;
		text-align: left;
	}
	.sec-video{
		width:100%;
		height:315px;
	}
	.sec-text{
		margin-top: 20px;
		padding-left: 10px;
		width: 100%;
		height: auto;
	}
	.program-detail{
		width: 100%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: none;
		width: 0%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 10px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.pg-head1{
		color: #fff;
		font-weight: 300;
		line-height: 27px;
		text-align: justify;
	}
	.gallery-detail{
		width: 90%;
		height: 129px;
		margin: 0px;
		margin-left: 10px;
		margin-top: 20px;
		text-align: left;
	}
	.gallery-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 30px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: 100%;
		height: 100%;
	}
	.sp-detail{
		width: 100%;
		height: 240px;
		padding: 10px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 5px;
		padding-left: 10px;
	}
	.sptxt1{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 480px){
	.header{
		width: 100%;
		height: auto;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		/*color: #f1f1f1!important;*/
		color: red!important;
		font-size: 18px;
		font-weight: 450;
		padding-left: 10px;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 0px;
		padding-right: 20px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:46px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 10px;
		width: 100%;
		height: 50px;
		font-weight: bold;
		padding-top: 10px;
		padding-left: 15px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 15px;
	}
	.section{
		width: 90%;
		height: auto;
		text-align: left;
	}
	.sec-video{
		width:100%;
		height:315px;
	}
	.sec-text{
		margin-top: 20px;
		padding-left: 10px;
		width: 100%;
		height: auto;
	}
	.program-detail{
		width: 100%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: none;
		width: 0%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 10px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.pg-head1{
		color: #fff;
		font-weight: 300;
		line-height: 27px;
		text-align: justify;
	}
	.gallery-detail{
		width: 90%;
		height: 129px;
		margin: 0px;
		margin-left: 10px;
		margin-top: 20px;
		text-align: left;
	}
	.gallery-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 30px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: 100%;
		height: 100%;
	}
	.sp-detail{
		width: 100%;
		height: 220px;
		padding: 10px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 5px;
		padding-left: 10px;
	}
	.sptxt1{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 576px){
	.header{
		width: 100%;
		height: 56px;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		color: #f1f1f1!important;
		/*color: red!important;*/
		font-size: 18px;
		font-weight: 450;
		padding-left: 20px;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 0px;
		padding-right: 10px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:46px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 10px;
		width: 100%;
		height: 50px;
		font-weight: bold;
		padding-top: 10px;
		padding: 0px;
		padding-left: 0px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: 55px;
		padding: 0px;
		padding-left: 0px;
	}
	.section{
		width: 90%;
		height: auto;
		text-align: left;
	}
	.sec-video{
		width:100%;
		height:315px;
	}
	.sec-text{
		margin-top: 0px;
		padding-left: 50px;
		width: 100%;
		height: auto;
	}
	.program-detail{
		width: 100%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: none;
		width: 0%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 10px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.pg-head1{
		color: #fff;
		font-weight: 300;
		line-height: 27px;
		text-align: justify;
	}
	.gallery-detail{
		width: 90%;
		height: 129px;
		margin-left: 0px;
		margin: 0px;
		margin-top: 20px;
		text-align: left;
	}
	.gallery-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 30px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: 100%;
		height: 100%;
	}
	.sp-detail{
		width: 100%;
		height: 220px;
		padding: 10px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 5px;
		padding-left: 10px;
	}
	.sptxt1{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 768px){
	.header{
		width: 100%;
		height: 56px;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		/*color: #f1f1f1!important;*/
		color: red!important;
		font-size: 18px;
		font-weight: 450;
		padding-left: 80px;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 0px;
		padding-right: 30px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:46px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 10px;
		width: 100%;
		height: 50px;
		font-weight: bold;
		padding-top: 10px;
		padding: 0px;
		padding-left: 0px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: 55px;
		padding: 0px;
		padding-left: 0px;
	}
	.section{
		width: 90%;
		height: auto;
		text-align: left;
	}
	.sec-video{
		width:100%;
		height:315px;
	}
	.sec-text{
		margin-top: 0px;
		padding-left: 50px;
		width: 100%;
		height: auto;
	}
	.program-detail{
		width: 60%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: block;
		width: 38%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 10px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.pg-head1{
		color: #fff;
		font-weight: 300;
		line-height: 27px;
		text-align: justify;
	}
	.gallery-detail{
		width: 90%;
		height: 129px;
		margin-left: 0px;
		margin: 0px;
		margin-top: 20px;
		text-align: left;
	}
	.gallery-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 30px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: 100%;
		height: 100%;
	}
	.sp-detail{
		width: 100%;
		height: 180px;
		padding: 10px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 5px;
		padding-left: 10px;
	}
	.sptxt1{
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 992px) {
	.header{
		width: 100%;
		height: 56px;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		/*color: #f1f1f1!important;*/
		color: violet!important;
		font-size: 18px;
		font-weight: 450;
		padding-left: 80px;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 0px;
		padding-right: 30px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:46px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 10px;
		width: 100%;
		height: 50px;
		font-weight: bold;
		padding-top: 10px;
		padding: 0px;
		padding-left: 0px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: 55px;
		padding: 0px;
		padding-left: 0px;
	}
	.section{
		width: 90%;
		height: auto;
		text-align: left;
	}
	.sec-video{
		width:100%;
		height:315px;
	}
	.sec-text{
		margin-top: 0px;
		padding-left: 50px;
		width: 100%;
		height: auto;
	}
	.program-detail{
		width: 60%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: block;
		width: 38%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 20px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 24px;
		margin-bottom: 20px;
		margin-top: 20px;
}
	.pg-head1{
		color: #fff;
		font-weight: 400;
		line-height: 27px;
		text-align: justify;
	}

	.gallery-detail{
		width: 90%;
		height: 129px;
		margin-left: 0px;
		margin: 0px;
		margin-top: 20px;
		text-align: left;
	}
	.gallery-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 80%;
		height: auto;
		padding: 40px;
		padding-left: 0px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: auto;
		height: auto;
	}
	.sp-detail{
		width: 100%;
		height: 150px;
		padding: 20px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 10px;
		padding-left: 20px;
	}
	.sptxt1{
		width: 100%;
		text-align: right;
	}
}
@media (min-width: 1200px) {	
	.header{
		width: 100%;
		height: 56px;
		box-shadow: 0 1px 4px #c0c0c0;
	}
	.navbar-brand{
		color: #f1f1f1!important;
		padding-left: 100px;
		font-size: 18px;
		font-weight: 450;
	}
	.nav-link{
		/*color: #4b4b4b;*/
		color: #333;
		font-size: 15px;
		font-weight: 450;
	}
	.nav-item{
		padding-left: 0px;
		padding-right: 30px;		
	}
	.navbar-brand:hover{
		color: #f1f1f1 !important;
		
	}
	.nav-link:hover{
		color: #f1f1f1 !important;
	}
	.slider{
		margin-top:56px;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: #fff;
	}
	#slidim{
		width: 100%; 
		height: 500px; 
		object-fit: cover;
	}
	.event{
		font-size: 16px;
		color: #333;
		margin-top: 20px;
		width: 100%;
		height: 50px;
		font-weight: bold;
		padding-top: 10px;
		padding: 0px;
		padding-left: 0px;
	}
	.event1{
		font-size: 14px;
		line-height: 28px;
		font-weight: 500;
		color: #333;
		width: 100%;
		height: 55px;
		padding: 0px;
		padding-left: 0px;
	}
	.section{
		width: 100%;
		height: auto;
		text-align: center;
	}
	.sec-video{
		width:560px;
		height:315px;
	}
	.sec-text{
		margin-top: 0px;
		padding-left: 50px;
		width: 100%;
		height: auto;
	}	
	.program-detail{
		width: 60%;
		height: 510px;
		margin-top: 10px;
		float:left;
		margin-left: 1px;
	}
	.pg-text{
		display: block;
		width: 35%;
		height: 510px;
		float: left;
		margin-top: 10px;
		margin-left: 1px;
		background-color: #bc2b37;
		padding: 20px;
	}
	.pgim{
		width: 100%;
		height: 100%;
	}
	.pg-head{
		color: #fff;
		font-size: 24px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.pg-head1{
		color: #fff;
		font-weight: 400;
		line-height: 27px;
		text-align: justify;
	}
	.gallery-detail{
		width: 100%;
		height: 129px;
		margin-left: 0px;
		margin: 11px;
		margin-top: 40px;
		text-align: center;	
	}
	.gallery-im{
		width: auto;
		height: auto;
		object-fit: cover;
		cursor: pointer;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.gallery-im:hover{
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.foot{
		width: 100%;
		height: auto;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		background-color: #111618;
	}
	.footer{
		width: 80%;
		height: auto;
		padding: 40px;
		padding-left: 0px;
		text-align: left;
		color: #f1f1f1;	
	}
	.foot1{
		width: auto;
		height: auto;
	}
	.sp-detail{
		width: 100%;
		height: 150px;
		padding: 20px;	
		margin-top: 20px;
		background-color: #f2f3f5;
		border-bottom: 2px solid #666;
		box-shadow: 0 7px 10px -10px #000;
	}
	.sptxt{
		width: 100%;
		padding-left: 0px;
		padding-top: 0x;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		color: #555;
		text-align: justify;
	}
	.sptxt2{
		margin-top: 10px;
		padding-left: 20px;
	}
	.sptxt1{
		width: 100%;
		text-align: right;
	}
}	